[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "bundle/-stl-syntax"]
	path = bundle/-stl-syntax
	url = https://github.com/Mizuchi/STL-Syntax.git
